
azul= #22BCE0
gris_oscuro=#444
naranja=#DD4F24
body	
	background #E8E8E8
	padding 1em 0
	color gris_oscuro
	font-family Arial
	font-size 16px
	text-align center
	transition  font-size 1s
	

footer
	background naranja
	border-radius 5em
	padding 1em 0
	text-align center
	width 100%

header
	background gris_oscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white
	padding 0.5em
	position relative

header.logo
     border-right 1px solid azul
     float left	
     width 60px

header.titular
    margin 0 80px 0 70px